{% extends "template.html" %}
{% block title %} Welcome {% endblock %}
{% block body %}
<div class="grid-container">
  <div class="contain-to-grid sticky">
     <div class="top-bar">
        <div class="top-bar-left">
          <ul class ="menu">
            <li class="menu-text" data-magellan>Nav Bar</li>
            <li><a href="#">Link One</a></li>
            <li><a href="#">Link Two</a></li>
            <li><a href="#">Link Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
  </div>
  <div>
    <div class="large-12 cell">
      <h1>EncycloCinema</h1>
    </div>
  </div>
  <div>
    <form>
      <div class="grid-5 grid-padding-5">
        <div class="large-3 medium-3 cell">
          <label>Search by...</label>
          <select name="choice">
            <option value="name">Movie Name</option>
            <option value="date">Date of Release</option>
            <option value="cast">Cast Member</option>
            <option value="genre">Genre</option>
          </select>
          <input type="text" placeholder="Search" />
          <a href="/search" class="success button">Search</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
