<html>
  <head>
    <title>ApumpkinPI {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/vendor/jquery.min.js"></script>
  </head>
  <body>
    {% block body %}You should not be here{% endblock %}
    <footer><br>Copyright &copy; 2018 ApumpkinPI</footer>
     </body>
</html>
